body {
  height: 100%;
  width: 100%;
  background: #C99BF2; /* Old browsers */
  background: -moz-linear-gradient(top, #C99BF2 0%, #6441A4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #C99BF2 0%,#6441A4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #C99BF2 0%,#6441A4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C99BF2', endColorstr='#6441A4',GradientType=0 ); /* IE6-9 */
}

.twitch-streamers__box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#twitch-streamers__title {
  display: flex;
	justify-content: center;
	width: 50%;
}

#twitch-logo__style {
  fill: #000000;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
}

#twitch-streamers__list {
  display: flex;
  flex-direction: column;
  width: 66.66%;
  margin-bottom: 10%;
  border: 0.25em solid #000000;
  background-color: #d0a3f7;
  color: #000000;
  font-family: "Squada One", serif;
	font-size: 3em;
}

#twitch-user--freecodecamp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#twitch-user--esl_csgo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#twitch-user--rocketleague {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.twitch-user--online {
  background-color: #d0a3f7;
}

.twitch-user--offline {
  background-color: #984adb;
}

.twitch-channel--online {
  color: #3D1255;
  font-style: italic;
}

.twitch-channel--offline {
  color: #d0a3f7;
  font-style: italic;
}
