.twitch-channel {
  display: block;
  width: 100%;
  margin: 1.25% auto 2.5% auto;
  font-style: italic;
  text-align: center;

  @mixin atLarge {
    width: 23%;
    margin: 2.5% 10% 2.5% auto;
    text-align: right;
  }

  &--online {
    color: $mainDarkPurple;
  }

  &--offline {
    color: $mainLightPurple;
  }
}
